body { 
    padding-top: 80px; 
    height: 100%;
    background-color: whitesmoke;
}
table {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); 
    border-collapse: collapse; 
    border-spacing: 50px;
    align-self: center;

}
td {   
    border: 1px solid #79d9ce;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

.Wall{
    background-color: black;
}

.start{
    background-color: forestgreen;
}

.end{
    background-color: red;
}

.path {
   
    animation: shortestPath 1.5s;
    background-color: yellow;
}

.visited{
   
    animation: visitedAnimation 1.5s;
    background-color: rgba(17, 104, 217, 0.75);
   
}

.box {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid;
    margin: -5px auto;
  }

  .legend-box{

      display:list-item;
      line-height: 3em;  
  }
 
  span {
    padding: 3px 5px;
    height: 20px;
    width: 20px;
    margin: 10px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
  }
 

  @keyframes visitedAnimation {
  
      0% {
        transform: scale(0.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
      }
    
      50% {
        background-color: rgba(17, 104, 217, 0.75);
      }
    
      75% {
        transform: scale(1.2);
        background-color: rgba(0, 217, 159, 0.75);
      }
    
      100% {
        transform: scale(1);
        background-color: rgba(0, 190, 218, 0.75);
      }
    
  }



button-container{
    padding-top: 100px;
    margin: 100px auto;
}

.button-3 {
    padding-top: 10px;
    margin: 30px auto;
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(221, 77, 10);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(192, 118, 22);
  }

  100% {
    transform: scale(1);
    background-color: rgb(240, 240, 10);
  }
}
